

    <div class="mainpanel">

      <div class="contentpanel">

        <div class="row profile-wrapper">
          <div class="col-xs-12 col-md-3 col-lg-2 profile-left">
            <div class="profile-left-heading">
              <ul class="panel-options">
                <li><a><i class="glyphicon glyphicon-option-vertical"></i></a></li>
              </ul>
              <a href="#" class="profile-photo"><img class="img-circle img-responsive" src="/RationShop/resources/images/photos/loggeduser1.png" alt=""></a>
              <h2 class="profile-name">Barbara Balashova</h2>
              <h4 class="profile-designation">Shop Owner</h4>

            


             
            </div>
            <div class="profile-left-body">
              <h4 class="panel-title">About Me</h4>
              <p>Social media ninja. Pop culture enthusiast. Zombie fanatic. General tv evangelist.</p>
              <p>Alcohol fanatic. Explorer. Passionate reader. Entrepreneur. Lifelong coffee advocate. Avid bacon aficionado. Travel evangelist.</p>

              <hr class="fadeout">

              <h4 class="panel-title">Location</h4>
              <p><i class="glyphicon glyphicon-map-marker mr5"></i> San Francisco, CA, USA</p>

              <hr class="fadeout">

              <h4 class="panel-title">Company</h4>
              <p><i class="glyphicon glyphicon-briefcase mr5"></i> Awesome Company, Inc.</p>

              <hr class="fadeout">

              <h4 class="panel-title">Contacts</h4>
              <p><i class="glyphicon glyphicon-phone mr5"></i> +1 010 123 5678</p>

              <hr class="fadeout">

              
            </div>
          </div>
          <div class="col-md-8 col-lg-8 profile-right">
            <div class="profile-right-body">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs nav-justified nav-line">
                <li class="active"><a href="#activity" data-toggle="tab"><strong>Activity</strong></a></li>
                <li><a href="#photos" data-toggle="tab"><strong>Photos (20)</strong></a></li>
                <li><a href="#music" data-toggle="tab"><strong>Music (10)</strong></a></li>
                <li><a href="#places" data-toggle="tab"><strong>Places (5)</strong></a></li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div class="tab-pane active" id="activity">

                  <div class="panel panel-post-item">
                    <div class="panel-heading">
                      <div class="media"></div><!-- media -->
                    </div><!-- panel-heading -->
                    <div class="panel-body"></div>
                    <div class="panel-footer"></div>
                   
                  </div><!-- panel panel-post -->

                 

                </div><!-- tab-pane -->

                <div class="tab-pane" id="photos">
                  
                </div>
                <div class="tab-pane" id="music">
                  
                </div>
              </div>
            </div>
          </div>
         
        </div><!-- row -->

    </div><!-- contentpanel -->
  </div><!-- mainpanel -->

</section>

